* {
    margin: 0;
    padding: 0;
}

.td-h {
    background: #eee !important;
    width: 100px;
}

.tab-ctrl {
    a {
        margin-right: 10px;
    }
}

.list-ctrl {
    a {
        margin-right: 10px;
    }

    .more-box {
        margin-top: 20px;
        border: 1px solid skyblue;
    }

    dl {
        overflow: hidden;
    }

    dt {
        float: left;
        line-height: 20px;
        padding: 10px
    }

    dd {
        float: left;
        line-height: 20px;
        padding: 10px;
        color: rgb(2, 15, 20);
    }
}

.range-ctrl {
    .defaults {
        a {
            margin-right: 10px;
            float: left;
            line-height: 40px;
        }
    }

    .slider {
        float: left;
        width: 200px;
        line-height: 40px;
    }

    label {
        line-height: 40px;
        margin-left: 10px;
    }
}

.select-ctrl {

    .menu-selected {
        width: 100px;
        height: 24px;
        line-height: 24px;
        border: 1px solid #e5e5e5;
        text-indent: 5px;
    }

    .menu {
        width: 200px;
        outline: 1px solid #e5e5e5;
        background: #fff;
        box-sizing: border-box;

        dd {
            float: left;
            width: 100px;
            line-height: 24px;
        }
    }
}